# vim:noai:ts=2:sw=2
version: "3.8"
                    
services:
  db:
    networks:
      default:
        aliases:
          - "mano-db"
    environment:
      MANOVNFM_USER: mano_vnfm
      MANOVNFM_PASSWORD: mano
      MANONFVO_USER: mano_nfvo
      MANONFVO_PASSWORD: mano
      KEYCLOAK_USER: keycloak
      KEYCLOAK_PASSWORD: keycloak
      KEYCLOAK_DB: keycloak

  mano-artemis:
    image: openmsa/artemis:2.19.0
    deploy:
      replicas: 1
      placement:	
        max_replicas_per_node: 1
        constraints:	
          - "node.labels.worker==app"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"

  mano-auth:
    image: jboss/keycloak:16.1.1
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: ubiqube
      DB_VENDOR: postgres
      DB_ADDR: mano-db
      POSTGRES_ADDR: mano-db
      DB_USER: keycloak
      DB_PASSWORD: keycloak
    ports:
      - target: 8080
        published: 8110
        protocol: tcp
        mode: ingress
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"

  mano-helm3:
    image: ubiqube/helm3-webapp
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"

  mano-nfvo-brf7:
    image: ubiqube/mano-nfvo-tm22:uat15
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_nfvo_brf7:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8120
        protocol: tcp
        mode: ingress
    secrets:
      - source: vnfm.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_nfvo_brf7

  mano-nfvo-kvdc:
    image: ubiqube/mano-nfvo-tm22:uat15
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_nfvo_kvdc:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8100
        protocol: tcp
        mode: ingress
    secrets:
      - source: vnfm.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_nfvo_kvdc

  mano-vnfm-brf7:
    image: ubiqube/mano-vnfm-tm22:uat15
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_vnfm_brf7:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8130
        protocol: tcp
        mode: ingress
    secrets:
      - source: nfvo.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_vnfm_brf7
      - MANO_FRONTEND_URL=http://mano-vnfm-brf7:8080/ubi-etsi-mano/sol003

  mano-vnfm-kvdc:
    image: ubiqube/mano-vnfm-tm22:uat15
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_vnfm_kvdc:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:	
        max_replicas_per_node: 1
        constraints:	
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8090
        protocol: tcp
        mode: ingress
    secrets:
      - source: nfvo.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_vnfm_kvdc
      - MANO_FRONTEND_URL=http://mano-vnfm-kvdc:8080/ubi-etsi-mano/sol003

secrets:
  vnfm.keycloak.credentials.secret:
    external: true
  nfvo.keycloak.credentials.secret:
    external: true
