version: "3.8"

services:
  mano-auth:
    restart: unless-stopped
    image: jboss/keycloak:16.1.1
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: ubiqube
      DB_VENDOR: postgres
      DB_ADDR: mano-db
      POSTGRES_ADDR: mano-db
      DB_USER: keycloak
      DB_PASSWORD: keycloak
      JGROUPS_DISCOVERY_PROTOCOL: JDBC_PING
      JGROUPS_DISCOVERY_PROPERTIES: "datasource_jndi_name=java:jboss/datasources/KeycloakDS"
      JAVA_OPTS: "-Djboss.as.management.blocking.timeout=600"
    ports:
      - target: 8080
        published: 8110
        protocol: tcp
        mode: ingress

  db:
    restart: unless-stopped
    environment:
      MANOVNFM_USER: mano_vnfm
      MANOVNFM_PASSWORD: mano
      MANONFVO_USER: mano_nfvo
      MANONFVO_PASSWORD: mano
      KEYCLOAK_USER: keycloak
      KEYCLAOK_PASSWORD: keycloak
    networks:
      default:
        aliases:
          - "mano-db"

  mano-vnfm:
    restart: unless-stopped
    image: ubiqube/mano-vnfm-tm22:uat7
    depends_on:
      - db
    volumes:
      - "mano_vnfm:/opt/etsi-mano-data"
    ports:
      - target: 8080
        published: 8090
        protocol: tcp
        mode: ingress
       
  mano-nfvo:
    restart: unless-stopped
    image: ubiqube/mano-nfvo-tm22:uat7
    depends_on:
      - db
    volumes:
      - "mano_nfvo:/opt/etsi-mano-data"
    ports:
      - target: 8080
        published: 8100
        protocol: tcp
        mode: ingress

  mano-artemis:
    restart: unless-stopped
    image: openmsa/artemis:2.19.0

volumes:
  mano_nfvo:
  mano_vnfm:
