# vim:noai:ts=2:sw=2
version: "3.8"
                    
services:
  db:
    environment:
      MANOVNFM_USER: mano_vnfm
      MANOVNFM_PASSWORD: mano
      MANONFVO_USER: mano_nfvo
      MANONFVO_PASSWORD: mano
      KEYCLOAK_USER: keycloak
      KEYCLOAK_PASSWORD: keycloak
      KEYCLOAK_DB: keycloak
    networks:
      default:
        aliases:
          - "mano-db"

  mano-artemis:
    image: openmsa/artemis:2.19.0
    deploy:
      replicas: 1
      placement:	
        max_replicas_per_node: 1
        constraints:	
          - "node.labels.worker==app"
      resources:
        limits:
          cpus: '0.50'
          memory: 2048M
        reservations:
          cpus: '0.50'
          memory: 2048M
    networks:
      default:
        aliases:
          - "mano_artemis"

  mano-auth:
    image: jboss/keycloak:16.1.1
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
      resources:
        limits:
          cpus: '0.50'
          memory: 2048M
        reservations:
          cpus: '0.50'
          memory: 2048M
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: ubiqube
      DB_VENDOR: postgres
      DB_ADDR: mano-db
      POSTGRES_ADDR: mano-db
      DB_USER: keycloak
      DB_PASSWORD: keycloak
    ports:
      - target: 8080
        published: 8110
        protocol: tcp
        mode: ingress
    networks:
      default:
        aliases:
          - "mano_auth"

  mano-helm3:
    image: ubiqube/helm3-webapp
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
      resources:
        limits:
          cpus: '0.50'
          memory: 2048M
        reservations:
          cpus: '0.50'
          memory: 2048M
    networks:
      default:
        aliases:
          - "mano_helm3"

  mano-nfvo:
    image: ubiqube/mano-nfvo-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/mnt/NASVolume/mano_nfvo:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8100
        protocol: tcp
        mode: ingress
    secrets:
      - source: vnfm.keycloak.credentials.secret
        target: keycloak.credentials.secret
    networks:
      default:
        aliases:
          - "mano_nfvo"

  mano-nfvo-tc:
    image: ubiqube/mano-nfvo-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_nfvo_tc:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8120
        protocol: tcp
        mode: ingress
    secrets:
      - source: vnfm.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_nfvo_tc
    logging:
      driver: "json-file"
      options:
        mode: non-blocking
        max-buffer-size: "4m"
        max-size: "10m"
        max-file: "5"

  mano-nfvo-ngv:
    image: ubiqube/mano-nfvo-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_nfvo_tc:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8121
        protocol: tcp
        mode: ingress
    secrets:
      - source: vnfm_ngv.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_nfvo_ngv
    logging:
      driver: "json-file"
      options:
        mode: non-blocking
        max-buffer-size: "4m"
        max-size: "10m"
        max-file: "5"

  mano-vnfm:
    image: ubiqube/mano-vnfm-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/mnt/NASVolume/mano_vnfm:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8090
        protocol: tcp
        mode: ingress
    secrets:
      - source: nfvo.keycloak.credentials.secret
        target: keycloak.credentials.secret
    networks:
      default:
        aliases:
          - "mano_vnfm"

  mano-vnfm-tc:
    image: ubiqube/mano-vnfm-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_vnfm_tc:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8130
        protocol: tcp
        mode: ingress
    secrets:
      - source: nfvo.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_vnfm_tc
      - MANO_FRONTEND_URL=http://mano-vnfm-tc:8080/ubi-etsi-mano/sol003
    logging:
      driver: "json-file"
      options:
        mode: non-blocking
        max-buffer-size: "4m"
        max-size: "10m"
        max-file: "5"

  mano-nfvo_lab_tc_ubi:
    image: ubiqube/mano-nfvo-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_nfvo_lab_tc_ubi:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8121
        protocol: tcp
        mode: ingress
    secrets:
      - source: vnfm_lab_tc_ubi.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_nfvo_lab_tc_ubi
    logging:
      driver: "json-file"
      options:
        mode: non-blocking
        max-buffer-size: "4m"
        max-size: "10m"
        max-file: "5"

  mano-vnfm_lab_tc_ubi:
    image: ubiqube/mano-vnfm-tm22:uat30
    depends_on:
      - db
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8080/ubi-etsi-mano/"]
      timeout: 240s
      interval: 30s
      retries: 5
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
      - "/mnt/NASVolume/mano_vnfm_lab_tc_ubi:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:
        max_replicas_per_node: 1
        constraints:
          - "node.labels.worker==app"
    ports:
      - target: 8080
        published: 8131
        protocol: tcp
        mode: ingress
    secrets:
      - source: nfvo_lab_tc_ubi.keycloak.credentials.secret
        target: keycloak.credentials.secret
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://mano-db:5432/mano_vnfm_lab_tc_ubi
      - MANO_FRONTEND_URL=http://mano-vnfm_lab_tc_ubi:8080/ubi-etsi-mano/sol003
    logging:
      driver: "json-file"
      options:
        mode: non-blocking
        max-buffer-size: "4m"
        max-size: "10m"
        max-file: "5"



secrets:
  vnfm.keycloak.credentials.secret:
    external: true
  nfvo.keycloak.credentials.secret:
    external: true
  vnfm_ngv.keycloak.credentials.secret:
    external: true
  vnfm_lab_tc_ubi.keycloak.credentials.secret:
    external: true
  nfvo_lab_tc_ubi.keycloak.credentials.secret:
    external: true

