version: "3.8"

services:
  mano-artemis:
    image: openmsa/artemis:2.19.0
    deploy:
      replicas: 1
      placement:	
        constraints:	
          - "node.labels.worker==app"

  mano-auth:
    deploy:
      replicas: 2
      placement:
        constraints:
          - "node.labels.worker==app"
    environment:
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: ubiqube
      DB_VENDOR: postgres
      DB_ADDR: mano-db
      POSTGRES_ADDR: mano-db
      DB_USER: keycloak
      DB_PASSWORD: keycloak
      JGROUPS_DISCOVERY_PROTOCOL: JDBC_PING
      JGROUPS_DISCOVERY_PROPERTIES: "datasource_jndi_name=java:jboss/datasources/KeycloakDS"
    image: jboss/keycloak
    ports:
      - target: 8080
        published: 8110
        protocol: tcp
        mode: ingress

  mano-db:
    image: oviubiqube/mano-db
    environment:
      POSTGRES_PASSWORD: mano
      POSTGRES_USER: mano
      KEYCLOAK_USER: keycloak
      KEYCLOAK_PASSWORD: keycloak
      KEYCLOAK_DB: keycloak
    volumes:
      - "/mnt/NASVolume/mano_db:/var/lib/postgresql/data"
    deploy:
      replicas: 1
      placement:	
        constraints:	
          - "node.labels.worker==app"

  mano-nfvo:
    image: oviubiqube/mano-nfvo-tm22:uat1
#    environment:
#      KEYCLOAK_RESOURCE=mano-vnfm
#      KEYCLOAK_CREDENTIALS_SECRET=xxxxxxxx
    volumes:
      - "/mnt/NASVolume/mano_nfvo:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:	
        constraints:	
          - "node.labels.worker==app"
    ports:
      - target: 8100
        published: 8100
        protocol: tcp
        mode: ingress

  mano-vnfm:
    image: openmsa/mano-vnfm:2.7.1
#    environment:
#      KEYCLOAK_RESOURCE=mano-nfvo
#      KEYCLOAK_CREDENTIALS_SECRET=xxxxxxxx
    volumes:
      - "/mnt/NASVolume/mano_vnfm:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:	
        constraints:	
          - "node.labels.worker==app"
    ports:
      - target: 8090
        published: 8090
        protocol: tcp
        mode: ingress

  mano-vnfm2:
    image: openmsa/mano-vnfm-bis:2.7.1
    volumes:
      - "/mnt/NASVolume/mano_vnfm2:/opt/etsi-mano-data"
    deploy:
      replicas: 1
      placement:	
        constraints:	
          - "node.labels.worker==app"
    ports:
      - target: 8090
        published: 8091
        protocol: tcp
        mode: ingress

