version: "3.8"

services:
  mano-vnfm:
    image: openmsa/mano-vnfm:2.6.2
    depends_on:
      - mano-db
    volumes:
      - "/mnt/NASVolume/mano_vnfm:/opt/etsi-mano-data"
    deploy:
      replicas: 1

  mano-nfvo:
    image: openmsa/mano-nfvo:2.6.2
    depends_on:
      - mano-db
    volumes:
      - "/mnt/NASVolume/mano_nfvo:/opt/etsi-mano-data"
    deploy:
      replicas: 1

  mano-db:
    image: openmsa/mano-db
    environment:
      POSTGRES_PASSWORD: mano
      POSTGRES_USER: mano
    volumes:
      - "/mnt/NASVolume/mano_db:/var/lib/postgresql/data"
    deploy:
      replicas: 1

  mano-artemis:
    image: openmsa/artemis:2.19.0
    deploy:
      replicas: 1