version: "3.8"

services:
  msa_front:
    depends_on:
      - msa_api
      - msa_ui
      - camunda
    image: ubiqube/msa2-front:7771cb08a064d0483854a613211c6b617114031b
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
      - target: 514
        published: 514
        protocol: udp
        mode: host

  camunda:
    image: camunda/camunda-bpm-platform:7.13.0

  db:
    image: ubiqube/msa2-db:4a33aa9ae3a94d11bac673c922c1d8c5244e7d2b
    command: postgres -c 'max_connections=800'
    environment:
      POSTGRES_PASSWORD: my_db_password
      POSTGRES_DB: POSTGRESQL
    volumes:
      - "msa_db:/var/lib/postgresql/data"

  msa_api:
    image: ubiqube/msa-api:41a50fcc56603036d75595f48c909de48f8c0411
    depends_on:
      - db
      - msa_es
      - msa_dev
    entrypoint:
      - /opt/jboss/wildfly/bin/standalone.sh
      - -b
      - 0.0.0.0
      - -bmanagement
      - 0.0.0.0
      - -c
      - ubiqube.xml
    volumes:
      - "msa_entities:/opt/fmc_entities"
      - "msa_repository:/opt/fmc_repository"
      - "msa_api:/opt/ubi-jentreprise/generated/conf"
      - "rrd_repository:/opt/rrd"
      - "msa_sms_php:/opt/sms/bin/php"
      - "msa_dev:/opt/devops/"

  msa_ui:
    depends_on:
      - msa_api
    image: ubiqube/msa2-ui:d6b10b050191a887cc5e8740298575aed28a4b36
    environment:
    - FEATURE_ADMIN=true
    - FEATURE_CONNECTION_STATUS=true
    - FEATURE_ALARMS=true
    - FEATURE_LICENCE=true
    - FEATURE_TOPOLOGY=true


  msa_es:
    image: ubiqube/msa2-es:037a2067826b36e646b45e5a148431346f62f3a6
    environment:
      - "discovery.type=single-node"
      - "script.painless.regex.enabled=true"
      - bootstrap.memory_lock=true
    volumes:
      - "msa_es:/usr/share/elasticsearch/data"

  msa_sms:
    image: ubiqube/msa2-sms:41a50fcc56603036d75595f48c909de48f8c0411
    depends_on:
      - db
      - msa_es
      - msa_dev
    volumes:
      - "msa_api:/opt/ubi-jentreprise/generated/conf"
      - "msa_dev:/opt/devops/"
      - "msa_entities:/opt/fmc_entities"
      - "msa_repository:/opt/fmc_repository"
      - "msa_sms_devices:/opt/sms/devices"
      - "msa_sms_php:/opt/sms/bin/php"
      - "rrd_repository:/opt/rrd"
#      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"

  msa_bud:
    depends_on:
      - db
    image: ubiqube/msa2-bud:48fc6aff23c59318ee2ba3184e0c8c78f622afba

  msa_cerebro:
    image: lmenezes/cerebro:0.9.2
    entrypoint:
      - /opt/cerebro/bin/cerebro
      - -Dhosts.0.host=http://msa_es:9200
    depends_on:
      - msa_es
    ports:
      - "9000:9000"

  msa_dev:
    # use local image for quickstart dev => for release: make sure the chnages are ported to msa-docker and uncomment the line below
    #image: ubiqube/msa2-linuxdev
    build: ./lab/msa_dev
    depends_on:
      - msa_es
    volumes:
      - "/sys/fs/cgroup:/sys/fs/cgroup:ro"
      - "msa_entities:/opt/fmc_entities"
      - "msa_repository:/opt/fmc_repository"
      - "msa_sms_php:/opt/sms/bin/php"
      - "msa_sms_devices:/opt/sms/devices"
      - "msa_api:/opt/ubi-jentreprise/generated/conf"
      - "msa_config:/opt/configurator"
      - "msa_dev:/opt/devops/"

  linux_me:
    # use local image for quickstart dev => for release: make sure the chnages are ported to msa-docker and uncomment the line below
    #image: ubiqube/msa2-linuxme
    build: ./lab/linux.me
    cap_add:
      - NET_ADMIN
      - sys_rawio
    ports:
      - "2224:22"
    devices:                     # required for dmidecode used by polld/asset
      - "/dev/mem:/dev/mem"
    networks:
      default:
        ipv4_address: 172.20.0.101
    hostname: linux_me

volumes:
  msa_api:
  msa_config:
  msa_db:
  msa_dev:
  msa_entities:
  msa_es:
  msa_repository:
  msa_sms_devices:
  msa_sms_php:
  rrd_repository:

networks:
  default:
    name: quickstart_default
    ipam:
      config:
        - subnet: 172.20.0.0/24

