[Unit]
Description=Docker Monitor Service
After=dockerd.target

[Service]
ExecStart=/root/quickstart/scripts/docker-monitor.sh

[Install]
WantedBy=multi-user.target
